body {
  margin: 0;
  padding: 0;
}
.page {
  padding: 0;
  width: 100%;
  background: #ccc;
}


i {
  color: #4d926f;
}
h2 {
  color: #4d926f;
}
.disp {
  margin: 5em;
  display: inline-block;
  width: 50px;
  height: 40px;
  background: blue;
}
.i1,
.i2 {
  margin: 5em;
  display: inline-block;
  width: 50px;
  height: 40px;
  background: blue;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.i3,
.i4,
.i5,
.i6 {
  margin: 5em;
  display: inline-block;
  width: 50px;
  height: 40px;
  background: blue;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}


ul {
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
}
ul li {
  padding: 2rem;
  display: inline-block;
  cursor: pointer;
}
ul li:hover {
  color: #6c71c4;
}


/*函数与运算*/
/*运算提供了对属性值和颜色的加、减、乘、除操作，赋予你创建属性之间复杂关系的能力。*/
/*运算应当只出现在圆括号中，这样能确保与CSS的兼容。*/
.i5,
.i6 {
  background: #333333;
}
