body {
    margin: 0;
    padding: 0;
}

.page {
    padding: 0;
    width: 100%;
    background: #ccc;
}



/*//变量*/
i {
    color: #4d926f;
}

h2 {
    color: #4d926f;
}



/*//嵌套*/

ul {
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
}

ul li {
    padding: 2rem;
    display: inline-block;
    cursor: pointer;
}

ul li:hover {
    color: #6c71c4;
}



/*mixin、扩展/继承*/
.disp {
    margin: 5em;
    display: inline-block;
    width: 50px;
    height: 40px;
    background: blue;
}

.i1,
.i2 {
    margin: 5em;
    display: inline-block;
    width: 50px;
    height: 40px;
    background: blue;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.i3,
.i4,
.i5,
.i6 {
    margin: 5em;
    display: inline-block;
    width: 50px;
    height: 40px;
    background: blue;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

/*运算*/
.i5,
.i6 {
    height: 100px;
}