<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection class=carousel-label control-1 prev next" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="stylesheet" href="../../sass/components/carousel.css">
    <title>carousel-sass</title>
</head>
<body>
<div class="carousel">
    <div class="auto-run">
        <img src="../../images/banner-0.jpg" width="33.333%">
        <img src="../../images/banner-5.jpg" width="33.333%">
        <img src="../../images/banner-6.jpg" width="33.333%">
    </div>
    <div class="carousel-inner">
        <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
        <div class="carousel-item">
            <img src="../../images/banner-0.jpg" width="100%">
        </div>
        <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="../../images/banner-5.jpg" width="100%">
        </div>
        <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <img src="../../images/banner-6.jpg" width="100%">
        </div>

        <label for="carousel-3" class="carousel-control prev control-1"><img src="../../images/arrow-l.png" alt="" class="arrow-l"></label>
        <label for="carousel-2" class="carousel-control next control-1"><img src="../../images/arrow-r.png" alt="" class="arrow-r"></label>
        <label for="carousel-1" class="carousel-control prev control-2"><img src="../../images/arrow-l.png" alt="" class="arrow-l"></label>
        <label for="carousel-3" class="carousel-control next control-2"><img src="../../images/arrow-r.png" alt="" class="arrow-r"></label>
        <label for="carousel-2" class="carousel-control prev control-3"><img src="../../images/arrow-l.png" alt="" class="arrow-l"></label>
        <label for="carousel-1" class="carousel-control next control-3"><img src="../../images/arrow-r.png" alt="" class="arrow-r"></label>
        <ul class="carousel-indicators">
            <li>
                <label for="carousel-1" class="carousel-bullet"></label>
            </li>
            <li>
                <label for="carousel-2" class="carousel-bullet"></label>
            </li>
            <li>
                <label for="carousel-3" class="carousel-bullet"></label>
            </li>
        </ul>
    </div>
</div>

</body>
</html>