<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <style>
        p{
            text-align: left;
        }
    </style>

    <title>AngularJS中的controller </title>

    <link rel="stylesheet" href="../css/reveal/reveal.css">

    <!-- PPT主题，可以在/css/reveal/theme/中选择其他主题，目前暂时只能使用该模板 -->
    <link rel="stylesheet" href="../css/reveal/theme/ptt.css">

    <!-- syntax highlighting 代码高亮主题 -->
    <link rel="stylesheet" href="../lib/reveal/css/zenburn.css">

    <!-- 打印和PDF输出样式 -->
    <script>
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match( /print-pdf/gi ) ? '../css/reveal/print/pdf.css' : '../css/reveal/print/paper.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>
</head>
<body>
<img src="../img/demo/logo.png" alt="" usemap="#pttmap" class="base-logo">
<map name="pttmap">
    <area shape="rect" coords="0,0,276,58" href="http://www.jnshu.com" alt="" target="_blank"/>
</map>
<div class="reveal">
    <div class="slides">
        <section>
            <h2>【JS-task7】AngularJS中的controller</h2>
            <h3>小课堂【武汉第32期】</h3>
            <h3>分享人：黄雄</h3>
        </section>
        <section>
            <h3>目录</h3>
            <h4>1.背景介绍</h4>
            <h4>2.controller的用法</h4>
            <h4>3.扩展思考</h4>
        </section>
        <section>
            <h3>1.背景介绍</h3>
        </section>
        <section>
           <p>AngularJS是什么?AngularJS是一个开源Web应用程序框架。它最初是由MISKO Hevery和Adam Abrons于2009年开发。现在是由谷歌维护</p>
        </section>
        <section>
            <ul>
                <li>
                    <p>
                        AngularJS是一个功能强大的基于JavaScript开发框架用于创建富互联网应用(RIA)。</p>
                </li>
                <li>
                    <p>
                        AngulajJS为开发者提供的选项(使用JavaScript)在一个干净的MVC(模型 - 视图 - 控制器)的方式来编写客户端应用程序。</p>
                </li>
                <li>
                    <p>
                        AngularJS写的应用都是跨浏览器兼容。AngularJS使用JavaScript代码自动处理适应每种浏览器。</p>
                </li>
                <li>
                    <p>
                        AngularJS是开源的，完全免费的，并且由数千名世界各地的开发者开发维护。它是根据Apache许可证2.0版许可发布。</p>
                </li>
            </ul>
        </section>
        <section>
            <h3>2.controller的用法</h3>
        </section>
        <section>
            <p>AngularJS应用主要依赖于控制器来控制数据在应用程序中的流动。控制器采用ng-controller指令定义。控制器是一个包含属性和JavaScript对象的功能。每个控制器接受$scope参数指定应用程序/模块，由控制器控制。</p>
        </section>
        <section>
            <h4>语法</h4>
            <p>
            <code>
                &lt;div ng-app="myApp" ng-controller="myCtrl"&gt;<br>

                名: &lt;input type="text" ng-model="firstName"&gt;<br>
                姓: &lt;input type="text" ng-model="lastName"&gt;<br>
                <br>
                姓名: {{firstName + " " + lastName}}

            &lt;/div&gt;<br>

                &lt;script&gt;<br>
                    var app = angular.module('myApp', []);
                    app.controller('myCtrl', function($scope) {
                        $scope.firstName = "John";
                        $scope.lastName = "Doe";
                    });<br>
                &lt;/script&gt;
            </code>
            </p>
        </section>
        <section>
            <h4>例子详解</h4>
        </section>
        <section>
            <p>AngularJS 应用程序由 ng-app 定义。应用程序在 <div> 内运行。
            ng-controller="myCtrl" 属性是一个 AngularJS 指令。用于定义一个控制器。
            myCtrl 函数是一个 JavaScript 函数。
            AngularJS 使用$scope 对象来调用控制器。
            在 AngularJS 中， $scope 是一个应用对象(属于应用变量和函数)。
            控制器的 $scope （相当于作用域、控制范围）用来保存AngularJS Model(模型)的对象。
            控制器在作用域中创建了两个属性 (firstName 和 lastName)。
            ng-model 指令绑定输入域到控制器的属性（firstName 和 lastName）。</p>
        </section>

        <section style="text-align: left">
            <h4>双向绑定</h4>
            <code>
                var app = angular.module('myApp', []);
                    app.controller('myCtrl', function($scope) {
                        $scope.student = {
                            firstName: "yiibai",
                            lastName: "com",
                            fullName: function() {
                                var studentObject;
                                studentObject = $scope.student;
                                return studentObject.firstName + " " + studentObject.lastName;
                            }
                        };
                    });

            </code>
        </section>
        <section>
            <p>现在可以使用ng-model或使用表达式如下使用studentController学生的属性。</p>
            <code>
                Enter first name: &lt;input type="text" ng-model="student.firstName"&gt;<br>
                Enter last name: &lt;input type="text" ng-model="student.lastName"&gt;<br>
                <br>
                You are entering: {{student.fullName()}}
            </code>
            <p>现在有 student.firstName 和 student.lastname 两个输入框。<br>

                现在有 student.fullName()方法添加到HTML。<br>

                现在，只要输入first name和lastname输入框中输入什么，可以看到两个名称自动更新。</p>
        </section>
        <section>
            <h3>4.参考文献</h3>
        </section>
        <section>
            <p>参考一：<a href="http://www.runoob.com/angularjs/angularjs-controllers.html" target="_blank">http://www.runoob.com/angularjs/angularjs-controllers.html</a></p>
            <br>
        </section>

        <section>
            <h4>鸣谢</h4>
            <h4>感谢大家观看</h4>
            <h4><small>BY : 黄雄 </small></h4>
        </section>

    </div>
</div>

<script src="../lib/reveal/js/head.min.js"></script>
<script src="../lib/reveal/reveal.js"></script>

<script>

    // 以下为常见配置属性的默认值
    // {
    // 	controls: true, // 是否在右下角展示控制条
    // 	progress: true, // 是否显示演示的进度条
    // 	slideNumber: false, // 是否显示当前幻灯片的页数编号，也可以使用代码slideNumber: 'c / t' ，表示当前页/总页数。
    // 	history: false, // 是否将每个幻灯片改变加入到浏览器的历史记录中去
    // 	keyboard: true, // 是否启用键盘快捷键来导航
    // 	overview: true, // 是否启用幻灯片的概览模式，可使用"Esc"或"o"键来切换概览模式
    // 	center: true, // 是否将幻灯片垂直居中
    // 	touch: true, // 是否在触屏设备上启用触摸滑动切换
    // 	loop: false, // 是否循环演示
    // 	rtl: false, // 是否将演示的方向变成RTL，即从右往左
    // 	fragments: true, // 全局开启和关闭碎片。
    // 	autoSlide: 0, // 两个幻灯片之间自动切换的时间间隔（毫秒），当设置成 0 的时候则禁止自动切换，该值可以被幻灯片上的 ` data-autoslide` 属性覆盖
    // 	transition: 'default', // 切换过渡效果，有none/fade/slide/convex/concave/zoom
    // 	transitionSpeed: 'default', // 过渡速度，default/fast/slow
    // 	mouseWheel: true, //是否启用通过鼠标滚轮来切换幻灯片
    // }

    // 初始化幻灯片
    Reveal.initialize({
        history: true,
        dependencies: [
            { src: '../plugin/markdown/marked.js' },
            { src: '../plugin/markdown/markdown.js' },
            { src: '../plugin/notes/notes.js', async: true },
            { src: '../plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
        ]
    });
</script>
</body>
</html>
