
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1489389553084'); /* IE9*/
  src: url('iconfont.eot?t=1489389553084#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1489389553084') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1489389553084') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1489389553084#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rili:before { content: "\f0343"; }

.icon-rili1:before { content: "\f0344"; }

.icon-rili2:before { content: "\f0345"; }

.icon-rili3:before { content: "\f0346"; }

.icon-rili4:before { content: "\f0347"; }

.icon-rili5:before { content: "\f0348"; }

.icon-rili6:before { content: "\f0349"; }

.icon-rili7:before { content: "\f034a"; }

.icon-rili8:before { content: "\f034b"; }

.icon-rili9:before { content: "\f034c"; }

