@charset "utf-8";
header {
  background: #29b078;
  height: 100px;
}
.sawa {
  width: 100px;
  height: 100px;
  background-color: #225588;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.sawa:hover {
  color: #2c6eb1;
}
.siwa {
  color: #29b078;
}
.btn_b {
  width: 200px;
  height: 200px;
  background-color: #ff0000;
  border: 1px solid #ccc;
}
.location {
  height: 80px;
  overflow: hidden;
  cursor: pointer;
  transition: all .35s;
}
.location:hover {
  height: 320px;
}
.location ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.location ul li {
  width: 29%;
  height: 78px;
  line-height: 80px;
  text-align: center;
  border: solid 1px #29b078;
}
