.gourd{	
	float:right;
	background:red;
	transition:height 2s;
	/*transition:width 2s;*/
	-webkit-transition:height 2s;
	/*-webkit-transition:width 2s;*/
	background-image:url(../img/css-13-stylesheet/dawa.jpg); /* Safari */
}
.mt90{width:90%;}
.fs2{font-size:2rem;}
.col{color:red;}