ul {
  width: 60%;
  margin: 0 auto;
}
ul li {
  float: left;
  background-color: #e78326;
  padding: 16%;
  margin: 0.5%;
  border-radius: 5%;
}
button {
  display: block;
  padding: 2% 30%;
  margin: 10px auto;
  width: 70%;
  font-size: 16px;
  color: #e78326;
  border: 2px solid #e78326;
}
