html{
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
h4{
	font-size: 2rem;
	margin: 1rem 2rem;
}
p{
	margin: 0;
}
.father{
	width: 100%;
	height: 10rem;
}
.back{
	margin: 0 2rem;
	background: #000;
}
.px{
	width: 100px;
	height: 100px;
}
.em{
	width: 10em;
	height: 10em;
}
.rem{
	width: 10rem;
	height: 10rem;
}
.bfb{
	font-size: 5rem;
	width: 30rem;
	height: 30rem;
	background: #ccc;
}
.bfb4{
	margin-bottom: 1rem;
	width: 30%;
	height: 30%;
	color: #fff;
	font-size: 40%;
}
.bfb5{
	width: 50%;
	height: 50%;
	color: #fff;
	font-size: 50%;
}
.vw{
	width: 10vw;
	height: 10vw;
}
.vh{
	width: 10vh;
	height: 10vh;
}
.vmax{
	width: 10vmax;
	height: 10vmax;
}
.vmin{
	margin-bottom: 3rem;
	width: 10vmin;
	height: 10vmin;
}
