@charset "utf-8";

/*reset*/
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ol,
ul,
li,
footer,
header,
menu,
nav,
audio,
video,
button,
label,
select,
input,
option,
button{
  margin: 0;
  padding: 0;
}


html {
  font-size: 625%;

  body {
    font: 14px/1.5 "Heiti SC", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    font: .14rem/1.5;
    h4{
      font-size: .16rem;
    }
  }
}

button{
  border: 0;
  outline: none;
  background: transparent;
  cursor: pointer;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: #fff;

  &:hover,
  &:focus{
    text-decoration: none;
    outline: none;
  }
}

img{
  display: block;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*全局样式*/

.fl{
  float: left;
}

.fr{
  float: right;
}

.rel{
  position: relative;
}

.abs{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: auto;
}

.absr{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  margin: auto;
}

.absl{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: auto;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-v{
  display: flex;
  align-items: center;
}

.clear{
  overflow: hidden;
}

.clear:before,
.clear:after{
  display: block;
  content: '';
  clear: both;
}



/*common-verb*/
$blue: #29b078;
$gray: #999;