@charset "utf-8";

.container{
  margin: auto;

  @media (min-width: 1200px){
    max-width: 1170px;
  }

  @media (max-width: 1200px){
    max-width: 970px;
  }

  @media (max-width: 992px){
    max-width: 750px;
  }

  @media (max-width: 768px){
    min-width: 300px;
    margin: 0 20px

  }
}

.row{
  display: flex;
  flex-wrap: wrap;
  flex:1;

  @media (min-width: 1200px) {
    .col-{
      &xs- {

        &offset-{
          &10 {
            margin-left: 10%;
          }

          &20 {
            margin-left: 20%;
          }

          &25 {
            margin-left: 25%;
          }

          &33 {
            margin-left: 33%;
          }

          &50 {
            margin-left: 50%;
          }

          &66 {
            margin-left: 66%;
          }

          &75 {
            flex: 0 0 75%;
          }
        }


        &10 {
          flex: 0 0 10%;
        }

        &20 {
          flex: 0 0 20%;
        }

        &25 {
          flex: 0 0 25%;
        }

        &33 {
          flex: 0 0 33.3%;
        }

        &50 {
          flex: 0 0 50%;
        }

        &66 {
          flex: 0 0 66.7%;
        }

        &75 {
          flex: 0 0 75%;
        }

        &100 {
          flex: 0 0 100%;
        }

      }

      &sm- {

        &offset-{
          &10 {
            margin-left: 10%;
          }

          &20 {
            margin-left: 20%;
          }

          &25 {
            margin-left: 25%;
          }

          &33 {
            margin-left: 33%;
          }

          &50 {
            margin-left: 50%;
          }

          &66 {
            margin-left: 66%;
          }

          &75 {
            flex: 0 0 75%;
          }
        }


        &10 {
          flex: 0 0 10%;
        }

        &20 {
          flex: 0 0 20%;
        }

        &25 {
          flex: 0 0 25%;
        }

        &33 {
          flex: 0 0 33.3%;
        }

        &50 {
          flex: 0 0 50%;
        }

        &66 {
          flex: 0 0 66.7%;
        }

        &75 {
          flex: 0 0 75%;
        }

        &100 {
          flex: 0 0 100%;
        }

      }

      &md- {

        &offset-{
          &10 {
            margin-left: 10%;
          }

          &20 {
            margin-left: 20%;
          }

          &25 {
            margin-left: 25%;
          }

          &33 {
            margin-left: 33%;
          }

          &50 {
            margin-left: 50%;
          }

          &66 {
            margin-left: 66%;
          }

          &75 {
            flex: 0 0 75%;
          }
        }


        &10 {
          flex: 0 0 10%;
        }

        &20 {
          flex: 0 0 20%;
        }

        &25 {
          flex: 0 0 25%;
        }

        &33 {
          flex: 0 0 33.3%;
        }

        &50 {
          flex: 0 0 50%;
        }

        &66 {
          flex: 0 0 66.7%;
        }

        &75 {
          flex: 0 0 75%;
        }

        &100 {
          flex: 0 0 100%;
        }

      }

      &lg- {

        &offset-{
          &10 {
            margin-left: 10%;
          }

          &20 {
            margin-left: 20%;
          }

          &25 {
            margin-left: 25%;
          }

          &33 {
            margin-left: 33%;
          }

          &50 {
            margin-left: 50%;
          }

          &66 {
            margin-left: 66%;
          }

          &75 {
            flex: 0 0 75%;
          }
        }


        &10 {
          flex: 0 0 10%;
        }

        &20 {
          flex: 0 0 20%;
        }

        &25 {
          flex: 0 0 25%;
        }

        &33 {
          flex: 0 0 33.3%;
        }

        &50 {
          flex: 0 0 50%;
        }

        &66 {
          flex: 0 0 66.7%;
        }

        &75 {
          flex: 0 0 75%;
        }

        &100 {
          flex: 0 0 100%;
        }

      }

    }
  }

  @media (max-width: 1200px) {
    .col-{

      &xs- {

        &offset-{
          &10 {
            margin-left: 10%;
          }

          &20 {
            margin-left: 20%;
          }

          &25 {
            margin-left: 25%;
          }

          &33 {
            margin-left: 33%;
          }

          &50 {
            margin-left: 50%;
          }

          &66 {
            margin-left: 66%;
          }

          &75 {
            flex: 0 0 75%;
          }
        }


        &10 {
          flex: 0 0 10%;
        }

        &20 {
          flex: 0 0 20%;
        }

        &25 {
          flex: 0 0 25%;
        }

        &33 {
          flex: 0 0 33.3%;
        }

        &50 {
          flex: 0 0 50%;
        }

        &66 {
          flex: 0 0 66.7%;
        }

        &75 {
          flex: 0 0 75%;
        }

        &100 {
          flex: 0 0 100%;
        }

      }

      &sm- {

        &offset-{
          &10 {
            margin-left: 10%;
          }

          &20 {
            margin-left: 20%;
          }

          &25 {
            margin-left: 25%;
          }

          &33 {
            margin-left: 33%;
          }

          &50 {
            margin-left: 50%;
          }

          &66 {
            margin-left: 66%;
          }

          &75 {
            flex: 0 0 75%;
          }
        }


        &10 {
          flex: 0 0 10%;
        }

        &20 {
          flex: 0 0 20%;
        }

        &25 {
          flex: 0 0 25%;
        }

        &33 {
          flex: 0 0 33.3%;
        }

        &50 {
          flex: 0 0 50%;
        }

        &66 {
          flex: 0 0 66.7%;
        }

        &75 {
          flex: 0 0 75%;
        }

        &100 {
          flex: 0 0 100%;
        }

      }

      &md- {

        &offset-{
          &10 {
            margin-left: 10%;
          }

          &20 {
            margin-left: 20%;
          }

          &25 {
            margin-left: 25%;
          }

          &33 {
            margin-left: 33%;
          }

          &50 {
            margin-left: 50%;
          }

          &66 {
            margin-left: 66%;
          }

          &75 {
            flex: 0 0 75%;
          }
        }


        &10 {
          flex: 0 0 10%;
        }

        &20 {
          flex: 0 0 20%;
        }

        &25 {
          flex: 0 0 25%;
        }

        &33 {
          flex: 0 0 33.3%;
        }

        &50 {
          flex: 0 0 50%;
        }

        &66 {
          flex: 0 0 66.7%;
        }

        &75 {
          flex: 0 0 75%;
        }

        &100 {
          flex: 0 0 100%;
        }

      }

    }
  }

  @media (max-width: 992px) {
    .col-{
      &xs- {

        &offset-{
          &10 {
            margin-left: 10%;
          }

          &20 {
            margin-left: 20%;
          }

          &25 {
            margin-left: 25%;
          }

          &33 {
            margin-left: 33%;
          }

          &50 {
            margin-left: 50%;
          }

          &66 {
            margin-left: 66%;
          }

          &75 {
            flex: 0 0 75%;
          }
        }


        &10 {
          flex: 0 0 10%;
        }

        &20 {
          flex: 0 0 20%;
        }

        &25 {
          flex: 0 0 25%;
        }

        &33 {
          flex: 0 0 33.3%;
        }

        &50 {
          flex: 0 0 50%;
        }

        &66 {
          flex: 0 0 66.7%;
        }

        &75 {
          flex: 0 0 75%;
        }

        &100 {
          flex: 0 0 100%;
        }

      }

      &sm- {

        &offset-{
          &10 {
            margin-left: 10%;
          }

          &20 {
            margin-left: 20%;
          }

          &25 {
            margin-left: 25%;
          }

          &33 {
            margin-left: 33%;
          }

          &50 {
            margin-left: 50%;
          }

          &66 {
            margin-left: 66%;
          }

          &75 {
            flex: 0 0 75%;
          }
        }


        &10 {
          flex: 0 0 10%;
        }

        &20 {
          flex: 0 0 20%;
        }

        &25 {
          flex: 0 0 25%;
        }

        &33 {
          flex: 0 0 33.3%;
        }

        &50 {
          flex: 0 0 50%;
        }

        &66 {
          flex: 0 0 66.7%;
        }

        &75 {
          flex: 0 0 75%;
        }

        &100 {
          flex: 0 0 100%;
        }

      }

    }
  }

  @media (max-width: 768px) {
    .col-{

      &xs- {

        &offset-{
          &10 {
            margin-left: 10%;
          }

          &20 {
            margin-left: 20%;
          }

          &25 {
            margin-left: 25%;
          }

          &33 {
            margin-left: 33%;
          }

          &50 {
            margin-left: 50%;
          }

          &66 {
            margin-left: 66%;
          }

          &75 {
            flex: 0 0 75%;
          }
        }


        &10 {
          flex: 0 0 10%;
        }

        &20 {
          flex: 0 0 20%;
        }

        &25 {
          flex: 0 0 25%;
        }

        &33 {
          flex: 0 0 33.3%;
        }

        &50 {
          flex: 0 0 50%;
        }

        &66 {
          flex: 0 0 66.7%;
        }

        &75 {
          flex: 0 0 75%;
        }

        &100 {
          flex: 0 0 100%;
        }

      }

    }
  }

}





