
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1489388287093'); /* IE9*/
  src: url('iconfont.eot?t=1489388287093#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1489388287093') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1489388287093') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1489388287093#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rili:before { content: "\f0343"; }

.icon-rili1:before { content: "\f0344"; }

.icon-rili2:before { content: "\f0345"; }

.icon-icon-test:before { content: "\e627"; }

.icon-icon-test1:before { content: "\e628"; }

.icon-icon-test2:before { content: "\e629"; }

.icon-icon-test3:before { content: "\e62a"; }

