@charset "utf-8";
@import "../base";


.carousel {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  overflow: hidden;
  
  &:hover{
    .auto-run{
      opacity: 0;
      transition: opacity .5s;
    }
  }


  .auto-run{
    position: absolute;
    z-index: 2;
    width: 300%;
    transition: opacity .5s;
    animation:  run infinite  10s;

    img{
      float: left;
    }
  }

  .carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;


    .carousel-open:checked + .carousel-item {
      position: static;
      opacity: 100;
    }

    .carousel-item {
      position: absolute;
      opacity: 0;
      -webkit-transition: opacity 0.6s ease-out;
      transition: opacity 0.6s ease-out;

      img {
        display: block;
        height: auto;
      }
    }

    .carousel-control {
      border-radius: 50%;
      color: #ccc;
      cursor: pointer;
      display: none;
      font-size: 40px;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      cursor: pointer;
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      text-align: center;
      z-index: 10;
      img{
        width: 20px;
      }
      &:hover {
        color: #aaaaaa;
      }

      &.prev {
        left: 2%;
      }

      &.next {
        right: 2%;
      }

    }

    .carousel-indicators {
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      bottom: 2%;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 10;
      opacity: 0;
      transition: opacity 1s;


      li {
        display: inline-block;
        margin: 0 5px;


        .carousel-bullet {
          color: #fff;
          cursor: pointer;
          display: block;
          text-indent: 999em;
          width: 10px;
          height: 10px;
          box-sizing: border-box;
          border: 1px solid #000;
          border-radius: 50%;

          &:hover {
            color: #aaaaaa;
          }

        }
      }
    }
  }
}


#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
}

.carousel:hover .carousel-indicators{
  opacity: 1;
  transition: opacity 1s;
}

@keyframes run {
  0% {margin-left: 0;}
  25% {margin-left: 0;}
  35% {margin-left: -100%;}
  60% {margin-left: -100%;}
  70% {margin-left: -200%;}
  95% {margin-left: -200%;}
  100% {margin-left: 0%;}
}