html,body{
	font-size: 62.5%;
}
body{
	display: flex;
}
.point{
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background: #fff;
}
.flex{
	display: flex;
}
.size{
	width: 5rem;
	height: 5rem;
	margin: 1rem;
	padding: 1rem;
	border-radius: 1rem;
	background: #000;
}
.box{
	flex: 1;
}
.left_top{
	justify-content: flex-start;
	align-items: flex-start;
}
.center_top{
	justify-content: center;
	align-items: flex-start;
}
.right_top{
	justify-content: flex-end;
	align-items: flex-start;
}


.left_center{
	justify-content: flex-start;
	align-items: center;
}
.center_center{
	justify-content: center;
	align-items: center;
}
.right_center{
	justify-content: flex-end;
	align-items: center;
}


.left_bottom{
	justify-content: flex-start;
	align-items: flex-end;
}
.center_bottom{
	justify-content: center;
	align-items: flex-end;
}
.right_bottom{
	justify-content: flex-end;
	align-items: flex-end;
}



.column{
	flex-direction: column;
	justify-content: space-between;
}
