html, body{
	font-size: 62.5%;
}
h1{
	font-size: 3rem;
	text-align: center;
	color: red;
}
h3{
	font-size: 2rem;
	color: red;
}
.box-style{
	margin-bottom: 2rem;
}
.text{
	text-align: center;
	line-height: 10rem;
	font-size: 3rem;
	background: #ccc;
}
.num{
	width: 10rem;
	height: 10rem;
	border: .1rem solid #000;
}
.num-align{
	line-height: 7rem;
	height: 7rem;
}
.flex{
	display: flex;
	background: #2d62a7;
}

/*box-style*/
.flex-direction{
	width: 41rem;
	/*默认值,主轴为水平方向，起点在左端*/
	flex-direction: row;
	/*主轴为水平方向，起点在右端。*/
	/*flex-direction: row-reverse;*/
	/*主轴为垂直方向，起点在上沿*/
	/*flex-direction: column;*/
	/*主轴为垂直方向，起点在下沿*/
	/*flex-direction: column-reverse;*/
}
.flex-wrap{
	width: 41rem;
	/*默认,不换行*/
	/*flex-wrap: nowrap;*/
	/*换行，第一行在上*/
	flex-wrap: wrap;
	/*换行，第一行在下*/
	/*flex-wrap: wrap-reverse;*/
}
.flex-flow{
	width: 41rem;
	/*flex-direction属性和flex-wrap属性的简写形式，默认值为row nowrap。*/
	flex-flow: row nowrap;
	/*flex-flow: row-reverse wrap;*/
	/*flex-flow: column wrap;*/
	/*flex-flow: column-reverse wrap;*/
}
.justify-content{
	width: 50rem;
	/*默认值,左对齐*/
	justify-content: flex-start;
	/*右对齐*/
	/*justify-content: flex-end;*/
	/*居中*/
	/*justify-content: center;*/
	/*两端对齐，项目之间的间隔都相等*/
	/*justify-content: space-between;*/
	/*每个项目两侧的间隔相等。所以，项目之间的间隔比项目与边框的间隔大一倍*/
	/*justify-content: space-around;*/
}
.align-items{
	height: 12rem;
	/*默认值，如果项目未设置高度或设为auto，将占满整个容器的高度*/
	align-items: stretch;
	/*交叉轴的起点对齐*/
	/*align-items: flex-start;*/
	/*交叉轴的终点对齐*/
	/*align-items: flex-end;*/
	/*交叉轴的中点对齐*/
	/*align-items: center;*/
	/*项目的第一行文字的基线对齐*/
	/*align-items: baseline;*/
}
.align-content{
	height: 35rem;
	flex-wrap: wrap;
	/*默认值，轴线占满整个交叉轴*/
	align-content: stretch;
	/*与交叉轴的起点对齐*/
	/*align-content: flex-start;*/
	/*与交叉轴的终点对齐*/
	/*align-content: flex-end;*/
	/*与交叉轴的中点对齐*/
	/*align-content: center;*/
	/*与交叉轴两端对齐，轴线之间的间隔平均分布*/
	/*align-content: space-between;*/
	/*每根轴线两侧的间隔都相等。所以，轴线之间的间隔比轴线与边框的间隔大一倍*/
	/*align-content: space-around;*/
}

/*item-style*/
.order{
	width: 41rem;
}
.flex-grow{
}
.flex-shrink{
	width: 50rem;
}
.flex-basis{
	width: 70rem;
}
.flex-all{
	width: 70rem;
}
.align-self{
	height: 20rem;
}
