/*common*/
html {
	font-size: 62.5%;
}
body {
	max-width: 640px;
	width:100%;
	margin: 0 auto;
	letter-spacing: 0.2rem;
}
/*header*/
header {
	padding: 1rem;
	width: 100%;
	height: 4.4rem;
	background: #29bde0;
	overflow: hidden;
}
header img {
	width: 2rem;
	cursor: pointer;
}
header h3 {
	color: #fff;
	font-size: 1.7rem;
	text-align: center;
}
/*top*/
main {
	position: relative;
	width: 100%;
	padding-bottom: 8rem;
	background: #29bde0;
	overflow-y: auto;
	overflow-x: hidden;
}
.top h3 {
	padding-left: 2.5rem;
	height: 4rem;
	background: #b9e9f5;
	color: #464646;
	line-height: 4rem;
	font-size: 1.3rem;
}
i {
	display: inline-block;
	position: absolute;
	width: 2.5rem;
	height: 2.5rem;
	background: url("../images/music.png") no-repeat;
	background-size: 2.5rem 2.5rem;
	overflow: hidden;
}
.play {
	top: 0.8rem;
	right: 1rem;
	cursor: pointer;
}
audio {
	opacity: 0;
}
.play img {
	position: absolute;
	top: 4.2rem;
	right: 0;
	width: 2.5rem;
	margin: 0.8rem;
}
.top p {
	padding-left: 3.5rem;
	margin: 0.7rem 0 2rem 0;
	color: #fff;
	font-size: 1.2rem;
}
.triangle-down {
	position: relative;
	left: 3.5rem;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 12px solid #b9e9f5;
}
/*content*/
.content {
	margin: 0 2rem;
}
.row {
	text-align: center;
}
.col-xs-4 {
	padding: 0;
}
.cat {
	width: 6.3rem;
	border: 5px solid #fff;
	margin: 0 auto;
}
.profession {
	height: 5rem;
	background: #f5c97b;
	line-height: 5rem;
	font-size: 1.5rem;
	cursor: pointer;
}
.number {
	height: 1.3rem;
	background: #83b09a;
	line-height: 1.3rem;
	color: #fff;
	font-size: 1.1rem;
}
span {
	display: inline-block;
	width: 1.38rem;
	height: 1.38rem;
	margin: 1rem 0;
	background-image: url("../images/sprites.png");
	background-size: 100%;
	background-repeat: no-repeat;
	opacity: 0;
}
.knife {
	background-position: 0 0;
}
.search {
	background-position: 0 33%;
}
.coord {
	background-position: 0 67%;
}
.cross {
	background-position: 0 100%;
}
.category:hover span {
	opacity: 1;
}
/*footer*/
footer {
	position: fixed;
	bottom: 0;
	max-width: 640px;
	width: 100%;
	height: 9rem;
	background: #29bde0;
}
.next {
	display: block;
	width: 80%;
	padding: 1.5rem;
	margin: 1.6rem auto;
	background: #fbb435;
	color: #fff;
	font-size: 2rem;
	text-align: center;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
@media screen and (min-width: 320px) {
	html {
		font-size: 73.5%;
	}
}
@media screen and (min-width: 425px) {
	html {
		font-size: 85%;
	}
}
@media screen and (min-width: 550px) {
	html {
		font-size: 111%;
	}
}
@media screen and (min-width: 640px) {
	html {
		font-size: 136%;
	}
}
