 .container {
            margin: 0 auto;
            padding-top: 100px;
            width: 500px;
            height: 100px;
            border: 1px #ccc solid;
            
        }

        .box1 {
            height: 50px;
            background-color: #ffff00;
            /* margin-right: -20px; */
            /* margin-left: -20px; */
            /* margin-top: -20px; */
            /* margin-bottom: -100px; */
            /* padding-bottom: -50px; */
            /* width: 300px; */
            
        }