* {
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
    margin-top: 50px;
    width: 500px;
    border: 1px #ccc solid;
    margin-bottom: 20px;
}

.list {
    list-style: none;
    overflow: hidden;
    margin-right: -10px;
}

.list li {
    width: 92px;
    height: 92px;
    background-color: #ccc;
    margin-bottom: 20px;
    float: left;
    margin-right: 10px;
}