  .container {
      margin: 0 auto;
      width: 100%;
      /* overflow: hidden; */
  }

  .left,
  .main,
  .right {
      /* margin-bottom: -5000px; */
      /* padding-bottom: 5000px; */
  }

  .left {
      height: 50px;
      width: 33.33%;
      /* margin-bottom: -5000px; */
      /* padding-bottom: 5000px; */
      float: left;
      background-color: rgba(33, 114, 214, 0.8);
  }

  .main {
      height: 100px;
      /* margin-bottom: -5000px; */
      width: 33.33%;
      float: left;
      /* padding-bottom: 5000px; */
      background-color: rgba(255, 82, 0, 0.8);
  }

  .right {
      width: 33.33%;
      float: left;
      /* margin-bottom: -5000px; */
      /* padding-bottom: 5000px; */
      background-color: rgba(90, 243, 151, 0.8)
  }