.container {
    overflow: hidden;
    margin-top: 20px;
    margin-left: 20px;
    border: 1px solid #ccc;
}

.flb {
    float: left;
    width: 100px;
    height: 100px;
    /* margin-left: -25px; */
    /* margin-left: -50px; */

}

.flbox1 {
    background-color: rgba(33, 114, 214, 0.8);
}

.flbox2 {
    background-color: rgba(255, 82, 0, 0.8);
}

.flbox3 {
    background-color: rgba(90, 243, 151, 0.8);
    /* margin-left: -200px; */
}