body {
    margin: 0 auto;
    padding: 0;
}

.page {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    background-color: #29bde0;
}

/*顶部导航栏样式*/
.header {
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.header-left {
    float: left;
    margin: 3.1% 2.5%;
    width: 2em;
    height: 2em;
}

.header h2 {
    display: inline-block;
    margin: 4%;
    color: white;
}

.header-right {
    float: right;
    margin: 3.1% 2.5%;
    width: 2em;
    height: 2.2em;
}

/*页面主要内容部分样式*/
.main-top {
    margin: 0 auto;
    width: 100%;
}

.main-top-word {
    padding: 3.5% 2% 3.5% 6%;
    color: #464646;
    font-size: 1.2em;
    background-color: #b9e9f5;
}

.main-top-word button {
    position: absolute;
    top: 7.2%;
    right: 1.5%;
    border: none;
    cursor: pointer;
    background: transparent;
}

.main-top-word img {
    width: 2.8em;
    height: 2.8em;
}

.main-top-triangle {
    margin-left: 10%;
    width: 0;
    height: 0;
    border-color: #b9e9f5 transparent transparent transparent;
    border-width: 0.5rem;
    border-style: solid;
}

.main-top p {
    margin: 0 10%;
    color: #ffffff;
}

.main-content {
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 28%;
}

.main-content-part {
    float: left;
    overflow: hidden;
    margin: 5% 0 0 6%;
    width: 25%;
    text-align: center;
}

.main-content-part-role {
    box-sizing: border-box;
}

.main-content-part-role-name {
    padding: 25% 0;
    font-size: 1.3rem;
    background-color: #f5c97b;
    border: 3px solid white;
    border-bottom: none;
}

.main-content-part-role-num {
    margin: 0;
    padding: 2.5%;
    color: white;
    background-color: #83b09a;
    border: 3px solid white;
    border-top: none;
}

.main-content-part-role:hover .main-content-part-icon {
    opacity: 1;
}

.main-content-part-icon {
    overflow: hidden;
    margin-top: 10%;
    padding-left: 2%;
    width: 100%;
    font-size: 0;
    list-style: none;
    opacity: 0;
}

.main-content-part-icon li {
    float: left;
    padding: 13% 0;
    width: 25%;
    background-image: url("../img/task7-2-choose.png");
    background-repeat: no-repeat;
    background-size: 400%;
}

/*页面底部样式*/
.footer {
    position: fixed;
    bottom: 0;
    min-width: 320px;
    max-width: 640px;
    width: 100%;
    text-align: center;
    background-color: #29bde0;
    border-top: 1px solid white;
}

.footer button {
    margin: 5% auto;
    padding: 4% 35%;
    color: white;
    font-size: 1.8em;
    border: none;
    background-color: #fbb435;
    cursor: pointer;
}
