*{margin: 0;padding: 0;}

.circle{
    width: 1px;
    height: 1px;
    border: 100px solid;
    border-radius: 50%;
    border-top-color: #888;
    border-left-color: #008;
    border-bottom-color: #080;
    border-right-color: #800;
}


.switch{
    width: 180px;
    height: 50px;
    border: 1px solid #888;
    background: #eee;
    border-radius: 10px;
}
.switchButton{
    width: 100px;
    background: #aaa;
    height: 50px;
    border-radius: 10px;
    margin-left: 0;
}

.light-wrapper{
    margin: 100px auto;
    padding: 0;
    width: 190px;
    height:60px;
    border-radius: 20px;
    border: 1px solid #bbb;
}
.light{
    display: inline-block;
    margin: 5px;
    width:50px;
    height:50px;
    border-radius: 50%;
}
.light-red{
    background: red;
}
.light-yellow{
    background: yellow;
}
.light-green{
    background: green;
}
